html
    {
        body{
            background: url('../assets/img/background.jpg');
            position: absolute;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }

#page_connexion 
    {
        margin: 20%;
        background-color: rgb(106, 99, 99);

    }