.home {
  background-color: #171611;
  border-radius: 10px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .no_profile {
    text-align: center;

    .route {
      background-color: #32607a;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #D1D1D1;
      }
    }
  }

  .with_profile {
    .navigate {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .route {
        background-color: #32607a;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #D1D1D1;
        }
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
      }
    }

    .searchBar {
      margin-top: 20px;

      & > .next-input {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      margin-top: 20px;

      .selectButton {
        flex: 1;
        text-align: center;

        .buttonId {
          background-color: #32607a;
          color: #ffffff;
          padding: 10px;
          border: none;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background-color: #D1D1D1;
          }
        }
      }
    }

    .series {
      margin-top: 20px;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .oneSerie {
          width: calc(33.33% - 20px);

          a {
            text-decoration: none;
            color: #ffffff;

            li {
              background-color: #292929;
              padding: 10px;
              border-radius: 5px;
              transition: transform 0.3s;
              cursor: pointer;

              &:hover {
                transform: scale(1.05);
              }

              button {
                background-color: #00a94c;
                color: #ffffff;
                border: none;
                padding: 5px 10px;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                  background-color: #0056b3;
                }
              }

              img {
                max-width: 100%;
                height: auto;
              }

              h2 {
                font-size: 18px;
                margin: 10px 0;
                color: #ffffff;
              }

              p {
                font-size: 14px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
