html
    {
        body{
            background: url('../assets/img/background.jpg');
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }

#page_inscription 
    {
        display: flex;
        flex-direction: column;
        margin: 20%;
        background-color: #292929;
        color: #ffffff;
        border: none;
        border-radius: 10px;
    } h1
        {
            display: flex;
            justify-content: center;
        }

#div_inscription
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 6%;
    } form 
        {
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            flex-direction: column;   
        }
        input
            {
                margin-bottom: 2%;
                box-sizing: border-box;
                font-family: inherit;
                padding: 0px 20px 0 20px;
                height: 50px;
                font-size: 16px;
                border: none;
                border-radius: 10px;
                background-color: #444;
                color: #ffffff;
            }
        button
            {
                margin-left: 10%;
                margin-right: 10%;
                height: 50px;
                margin-top: 2%;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                border-radius: 10px;
                border: none;
                color: #ffffff;
                background-color: #32607a;
            }

    .msgInscriptionValide
        {
            display: flex;
            justify-content: center;
            background-color: green;
            padding: 3%;
            border: solid 1px #444;
            border-left: 0px;
            border-right: 0px;
        }
    .msgErrorFormVide
        {
            background-color: red;
            padding: 1%;
            border: 1px solid black;
            border-radius: 10px;
            margin-top: 0;
            display: flex;
            justify-content: center;
        }