.serieId {
  background-color: #171611;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .no_profile_serie {
    text-align: center;

    .route_serie {
      background-color: #32607a;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .page_serie_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .serie_info {
      background-color: #292929;
      padding: 20px;
      border-radius: 5px;
      max-width: 600px;
      width: 100%;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .title_serie {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #ffffff;
      }

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        margin: 5px 0;
        color: #ffffff;
      }
    }

    .chargement {
      p {
        font-size: 18px;
        color: #ffffff;
      }
    }

    .accueil {
      .route_serie {
        background-color: #00a94c;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}